html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}
.header-contenedor {
    background-color: #F5F5F5;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10rem;
    font-weight: 700;
    font-size: 2rem;
}
.header-nav p,
.header-nav h3 {
    color: #464646;  
}
.nav-contenedor {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-enlaces a {
    padding: 1rem;
    color: #A2A2A2;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav-enlaces {
        display: none;
    }
    .header-nav {
        padding: 2rem 1rem;
        font-weight: 400;
    }
}
.presentacion-contenedor {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    align-items: start;
    padding: 1rem;
}
.presentacion-info {
    grid-row: 2;
    line-height: 1.2; /* Altura de línea para mejorar la legibilidad */
}
.presentacion-titulo {
    font-size: 3.5rem;
    color: #464646;
    margin: 1rem 0;
}
.presentacion-subtitulo {
    margin: 1rem 0;
    font-weight: 400;
}
.presentacion-personal {
    color: #464646;
    font-size: 1.7rem;
}
.presentacion-foto {
    border-radius: 70%;
    grid-row: 1;
    width: 15rem;
}
.presentacion-redes {
    display: flex;
    gap: 1rem;
}
.presentacion-redes a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #464646;
}
.presentacion-redes img {
    margin-left: 0.5rem;
    width: 3rem;
}
@media (min-width: 768px) {
    .presentacion-personal {
        color: #464646;
        font-size: 2rem;
    }
    .presentacion-redes {
        display: flex;
        gap: 2rem;
        font-size: 1.8rem;
        margin: 2rem 0;
    }
    .presentacion-contenedor {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }
    .presentacion-foto {
        grid-column: 2/3;
        width: 20rem;
    }
    .presentacion-info {
        grid-row: 1/2;
        line-height: 1.2; /* Altura de línea para mejorar la legibilidad */
    }
}
@media (min-width: 1440px) {
    .presentacion-contenedor {
        margin: 0 10rem;
        gap: 5rem;
        justify-items: center;
        align-items: center;
    }
    .presentacion-foto {
        width: 25rem;
    }
}
.sobre-mi-contenedor,
.formacion-contenedor,
.contactame-contenedor {
    background-color: #EAF2FD;
    padding: 3rem 1rem;
    color: #464646;
}
.sobre-mi-titulo {
    font-size: 3.5rem;
    margin: 0;
}
.sobre-mi-info {
    font-size: 1.7rem;
}
@media (min-width: 768px) {
    .sobre-mi-info {
        font-size: 2rem;
    }
}
@media (min-width: 1440px) {
    .sobre-mi-contenedor {
        padding: 4rem 10rem;
    }
}
.contenedor-skills-hobbies,
.experiencia-contenedor {
    background-color: #F5F5F5;
    padding: 3rem 1rem;
    color: #464646;
}
.skills-titulo{
    padding-bottom: 3rem;
}
.skills-titulo,
.hobbies-titulo,
.formacion-academica,
.experiencia-titulo {
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
}
.skills-contenedor img,
.hobbies-contenedor img {
    width: 17rem;
}
.skills-contenedor,
.hobbies-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hobbies-titulo {
    padding: 3rem 0;
}
@media (min-width: 768px) {
    .skills-contenedor img,
    .hobbies-contenedor img {
        width: 23rem;
    }
    .skills-contenedor,
    .hobbies-contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
@media (min-width: 1440px) {
    .contenedor-skills-hobbies {
        padding: 4rem 10rem;
    }
    .skills-contenedor img,
    .hobbies-contenedor img {
        width: 23rem;
    }
    .skills-contenedor,
    .hobbies-contenedor {
        display: flex;
        gap: 2rem;
    }
}
.formacion-universitaria,
.formacion-complementaria,
.experiencia-subtitulo {
    text-align: center;
    font-size: 2.5rem;
}
.formacion-itm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.formacion-itm img,
.formacion-certificados img {
    width: 25rem;
}
.formacion-nombre-instituto,
.experiencia-nombre-proyecto {
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-align: center;
}
.formacion-duracion {
    color: #2A7AE4;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
}
.formacion-certificados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.formacion-mas-certificados {
    background-color: #2A7AE4;
    color: white;
    text-decoration: none;
    padding: 2rem;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .formacion-certificados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center
    }
    .formacion-itm img,
    .formacion-certificados img {
        width: 33rem;
    }
    .formacion-mas-certificados {
        grid-column: 1/3;
    }
}
@media (min-width: 1440px) {
    .formacion-contenedor {
        padding: 4rem 10rem;
    }
    .formacion-itm img,
    .formacion-certificados img {
        width: 30rem;
    }
    .formacion-certificados {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    .formacion-mas-certificados {
        grid-column: 1/5;
    }
}
.experiencia-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video {
    width: 32rem;
}
.experiencia-enlace-git {
    display: flex;
    background-color: #2A7AE4;
    color: white;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .experiencia-videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        gap: 2rem;
    }
    .video-ciphertext {
        grid-column: 1/3;
    }
    .ciphertext {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .video-BR {
        grid-column: 2/4;
    }
    .bienes-raices {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .video-UpTask {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .upTask {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .video {
        width: 48rem;
    }
}
@media (min-width: 1440px) {
    .experiencia-contenedor {
        padding: 4rem 10rem;
    }
    .experiencia-videos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        gap: 3rem;
    }
    .video-ciphertext {
        grid-column: 1/4;
    }
    .ciphertext {
        grid-column: 4/5;
    }
    .video-BR {
        grid-column: 2/5;
    }
    .bienes-raices {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .video-UpTask {
        grid-column: 1/4;
    }
    .upTask {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .video {
        width: 92rem;
    }
    .experiencia-nombre-proyecto {
        font-size: 3rem;
    }
    .experiencia-enlace-git {
        margin: 1rem;
        padding: 2rem 3rem;
        border-radius: 1rem;
        font-size: 2rem;
    }
}
.contactame-titulo {
    margin-top: 0;
    font-size: 3.5rem;
}
.contactame-subtitulo {
    margin: 0;
}
.contactame-formulario {
    margin-top: 2rem;
}
.img-contactame {
    display: none;
}
input,
textarea {
    border: none;
    border-bottom: 1px solid #A2A2A2;
    margin: 1rem 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}
input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1px solid #2A7AE4;
}
textarea {
    height: 10rem;
    resize: none;
}
.contactame-boton {
    background-color: #2A7AE4;
    color: white;
    border: none;
    width: 50%;
    padding: 1.5rem;
}
@media (min-width: 768px) {
    .contactame-boton {
        width: 30%;

    }
}
@media (min-width: 1440px) {
    .contactame-contenedor {
        padding: 4rem 10rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }
    .img-contactame {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .formulario {
        grid-column: 2 / 3;
        grid-row: 1;
    }
}
.footer-contenedor {
    padding: 2rem;
    text-align: center;
}
.footer-fecha {
    margin-top: 0.5rem;
    color: #464646;
}
.footer-titulo {
    margin-bottom: 0.5rem;
    color: #464646;
}
.alerta-exito,
.alerta-error {
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.alerta-error {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 1rem;
    color: red;
    font-weight: bold;
    border-left: 5px solid red;
}
.alerta-exito {
    background-color: rgba(60, 255, 0, 0.5);
    padding: 1rem;
    color: rgb(25, 110, 29);
    font-weight: bold;
    border-left: 5px solid rgb(25, 110, 29);
}